.masthead {
	min-height: 700px;
	h1.ui.header {
		margin-top: 3em;
		margin-bottom: 0em;
		font-size: 4em;
		font-weight: normal;
	}
}
.ui.vertical.stripe {
	padding: 8em 0em;
	h2 {
		font-size: 2em;
	}
	p {
		font-size: 1.5em;
	}
}
.footer.segment {
	padding: 3em 0em;
	p {
		padding: 1.5em 0em;
	}
}